.container {
    box-sizing: initial;
    max-width: 1536px;
    padding-left: 64px;
    padding-right: 64px;
    margin-top: 150px;
}

.section {
    margin: 0 auto;
    margin-top: 150px; 
    margin-bottom: 75px;
}

.section50 {
    margin-top: 75px;
    margin-bottom: 75px;
    max-width: 50%;
}